.newsLetter{
    width: 65%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg ,#fde1ff 0%,#e1ffea22 60%);
    gap: 30px;
}
.newsLetter h1{
    color: #414141;
    font-size: 55px;
    font-weight: 600;

}
.newsLetter p{
    color: #414141;
    font-size: 20px;

}
.newsLetter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:white;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;

}
.newsLetter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #616161;
    font-size: 16px;

}
.newsLetter div button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}